---
---

{% include wombat.css %}
html, body {
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-size: 1em;
  font-family: 'Cutive', serif;
  clear: both;
}

h1 {
  padding-top: 1em;
  font-size: 1.4em;
}

h2 {
  padding-top: 0.6em;
  font-size: 1.2em;
}

h3 {
  padding-top: 0.3em;
  font-size: 1.1em;
}

body {
  background-color: #fcfcfc;
  color: #333;
  line-height: 1.45em;
  text-align: justify;
  text-justify: inter-word;
  text-rendering: optimizelegibility;
  font-family: Georgia;
  font-size: 1.05em;
  font-variant-ligatures: common-ligatures;
  counter-reset: sidenote-counter;
}

li:not(:last-child) {
  margin-bottom: 0.5em;
}

p.quiet {
  color: #aaa;
}

a {
  text-decoration: none;
  color: #0077cc;
}

a:hover {
  color: #a0d137;
}

blockquote {
  width: 80%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  font-style: oblique;
}

blockquote p:first-of-type:before {
  content: open-quote;
  font-size: 3.5em;
  vertical-align: -0.45em;
  margin-right: 0.2em;
  line-height: 0.0em;
}

blockquote p:first-of-type:after {
  content: close-quote;
  font-size: 3.5em;
  vertical-align: -0.5em;
  margin-left: 0.1em;
  line-height: 0.0em;
}

blockquote cite:last-of-type:before {
  content: "\2014 \2009";
}

blockquote cite {
  float: right;
  font-style: normal;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: -1em;
  margin-bottom: 1.5em;
}

pre, code {
  font-family: Consolas, Courier, monospace;
  font-size: 1em;
  line-height: 1em;
}

code {
  /* inlined code */
  font-size: 0.85em;
  vertical-align: 0.1em;
}

.columns, .content {
  overflow: hidden;
  _overflow: hidden;
  zoom: 1;
}

.columns header {
  float: left;
}

header {
  width: 17%;
  margin: 10px 80px 0 60px;
}

header h1 {
  font-family: monospace;
  font-size: 2em;
}

header h1 a {
  display: block;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}

header h2 {;
  font-size: 1.2em;
}

.content {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.text {
  width: 66%;
}

article div.post-meta h1 a {
  color: #333;
  border-bottom: 1px solid #eee;
  font-size: 1.6em;
  line-height: 1.25em;
}

article div.post-meta h2 {
  float: left;
  width: 100%;
  color: #999;
  margin-top: -2em;
  margin-bottom: 2em;
  font-family: 'Lato', sans-serif;
  font-size: 0.92em;
}

.rev {
    margin-left: 20px;
    font-size: 0.9em;
}

.rev a {
  color: #999;
  border-bottom: 1px solid #999;
}

.rev a:hover {
  color: #111;
  border-bottom: 1px solid #111;
}
/* Post header */

article img {
  display: block;
  margin: 0 auto;
  padding: 5px 5px 20px 5px;
  background: #fff;
}

.tags {
  margin: 20px 0 0 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
}

.tags li {
  float: left;
  margin: 0 7px;
}

.tags li a {
  padding: 1px 12px 2px 12px;
  margin-top: 6px;
  background: #eeeeee;
  color: #5e6d74;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

.tags li a:hover {
  /* shrink the padding to compensate for the border */
  padding: 0 11px 1px 11px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tags li a:active {
  position: relative;
  top: 1px;
}

.pagination .previous {
  float: right;
  text-align: right;
}

.pagination .next {
  float: left;
}

.results {
  padding-left: 20px;
  list-style-type: none;
}

.results > li {
  margin: 0 0 4px 0;
  padding: 0 0 25px 0;
  font-size: 0.9em;
  font-family: 'Cutive', serif;
  border-bottom: 1px solid #eee;
}

.results .date {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  color: #ccc;
}

.results ul.tags {
  margin: 0 0 4px 0;
}

.highlight {
  margin-bottom: 1em;
  padding: 4px;
  border: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow-x: scroll;
}

.deets {
   font-family: 'Lato';
}

#disqus_thread {
  padding: 0 0 40px 0;
}

p code, ul code, ol code {
  padding: 1px 4px;
  border: 1px solid #e1e1e4;
  background: #f0f5f8;
  color: #303840;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

a code {
  border-color: #0077cc;
}

article .text {
  clear: both;
}

input.margin-toggle {
  display: none;
}

.sidenote, .marginnote {
  float: right;
  clear: right;
  width: 40%;
  margin-right: -50%;
  margin-bottom: 1.2rem;
  font-size: 0.9rem;
  line-height: 1.1; /* changed to bring line heights into rational pattern */
  vertical-align: baseline;
  position: relative;
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after, .sidenote:before {
  content: counter(sidenote-counter) " ";
  font-family: et-bembo-roman-old-style;
  color: #303840;
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote:before {
    content: counter(sidenote-counter) ".\000a0"; /* this is unicode for a non-breaking space */
    color: #303840;
    top: 0rem; /* removed superscripting for numerical reference in sidenote */
}

@media screen and (max-width: 1060px) {
  header {
    margin: 20px 0 0 20px;
  }

  .content {
    margin: 20px 0 0 0;
  }
}

@media screen and (max-width: 980px) {
  header {
    width: 20%;
  }

  .content {
    width: 70%;
  }
}

@media screen and (max-width: 580px) {
  .columns {
    overflow: none;
  }

  header {
    width: 100%;
    float: none;
    margin: 0 0 20px 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }

  header .deets {
    display: none;
  }

  .content {
    width: 100%;
    padding: 0;
  }

  .text {
    width: 100%;
  }

  .sidenote, .marginnote {
    clear: both;
  }

  label.sidenote-number {
    display: none;
  }
}
