---
---

{% include wombat.css %}
html, body {
  height: 100%;
}

body {
  background-color: #fcfcfc;
  font-family: 'Lato', sans-serif;
  color: #333;
  font-size: 1.05em;
  font-weight: 200;
  text-align: justify;
  text-justify: inter-word;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: 'Coustard', serif;
  font-weight: 300;
  clear: both;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.08em;
}

body h1 {
  font-size: 1.4em;
}

body h2 {
  font-size: 1.2em;
}

body h3 {
  font-size: 1.1em;
}

p.quiet {
  color: #aaa;
}

p.quiet a {
  color: rgba(0, 119, 204, 0.7);
  -webkit-transition: color 0.3s;
}

p.quiet a:hover {
  color: rgba(0, 119, 204, 1);
}

a {
  text-decoration: none;
  color: #0077cc;
}

a:hover {
  color: #a0d137;
}

pre, code {
  font-family: Consolas, Courier, monospace;
}

pre code {
  font-size: 0.9em;
}

code {
  /* Smaller inline code */
  font-size: 0.85em;
}

blockquote {
  width: 80%;
  margin: 0 auto;
  background: #f6f7f7;
  border: 1px solid #ebebeb;
  padding-left: 20px;
  padding-right: 20px;
  font-style: oblique;
}

blockquote cite:before {
  content: "\2014 \2009";
}

blockquote cite {
  float: right;
  font-style: normal;
  padding-left: 6px;
  padding-right: 6px;
  background: #f6f7f7;
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}

.columns, .blog {
  overflow: hidden;
  _overflow: hidden;
  zoom: 1;
}

.columns header {
  float: left;
}

header {
  width: 200px;
  margin: 100px 0 0 100px;
}

header h1 {
  font-family: Pacifico;
}

header h1 a {
  display: block;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}

header h2 {;
  font-size: 1.2em;
}

.blog {
  width: 600px;
  margin: 60px 0 0 0;
  padding: 0 0 0 40px;
}

article {
  margin: 0 0 30px 0;
}


/* Post header */
article div.cf {
  padding: 0 0 15px 0;
}

article div.cf h1 a {
  color: #333;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  border-bottom: 1px solid #eee;
  font-size: 1.4em;
}

article div.cf h1 a:hover {
  color: #0077cc;
}

article div.cf h2 {
  float: left;
  width: 95%;
  color: #999;
  padding: 0 0 15px 0;
  font-size: 1em;
}
/* Post header */

article img {
  display: block;
  margin: 0 auto;
  padding: 5px 5px 20px 5px;
  background: #fff;
}

.tags {
  margin: 20px 0 0 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.8em;
}

.tags li {
  float: left;
  margin: 0 7px;
}

.tags li a {
  padding: 1px 12px 2px 12px;
  margin-top: 6px;
  background: #eeeeee;
  color: #5e6d74;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

.tags li a:hover {
  /* shrink the padding to compensate for the border */
  padding: 0 11px 1px 11px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tags li a:active {
  position: relative;
  top: 1px;
}

.pagination .previous {
  float: right;
  text-align: right;
}

.pagination .next {
  float: left;
}

.results {
  padding-left: 20px;
  list-style-type: none;
}

.results > li {
  margin: 0 0 10px 0;
  padding: 0 0 20px 0;
  font-size: 1.02em;
  border-bottom: 1px solid #eee;
}

.results .date {
  font-size: 0.8em;
  color: #ccc;
}

.results ul.tags {
  margin: 5px 0 4px 0;
  font-size: 0.6em;
}

.highlight {
  margin-bottom: 1em;
  padding: 4px;
  border: 0px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.highlight pre {
/*  overflow: scroll;*/
  overflow-x: auto;
  word-wrap: normal;
}

.highlight {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

#disqus_thread {
  padding: 0 0 40px 0;
}

p code, ul code, ol code {
  padding: 1px 4px;
  border: 1px solid #e1e1e8;
  background: #f0f5fb;
  color: #303840;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}


article .body {
  clear: both;
}

article .body h1 {
  margin-top: 20px;
  margin-bottom: 15px;
}

article .body h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}


@media screen and (max-width: 1060px) {
  header {
    margin: 20px 0 0 20px;
  }

  .blog {
    margin: 20px 0 0 0;
  }
}

@media screen and (max-width: 980px) {
  header {
    width: 20%;
  }
  
  .blog {
    width: 70%;
  }
}

@media screen and (max-width: 580px) {
  .columns {
    overflow: none;
  }
  
  header {
    width: 100%;
    float: none;
    margin: 0 0 20px 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  header .deets {
    display: none;
  }
  
  .blog {
    width: 100%;
    padding: 0;
  }
  
  article {
    padding: 0 10px;
    font-size: 0.9em;
  }
  
  article h1 {
    font-size: 1.4em;
  }
  
  article h2 {
    font-size: 1.2em;
  }
  
  article h3 {
    font-size: 1.1em;
  }
}

