<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <title>{% if page.title %} {{ page.title | downcase }} | {% endif %} mrchlblng</title>
  <meta name="description" content="a blog you should read later">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Coustard|Pacifico|Lato:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/css/mrchlblng.css">

</head>
<body>
  <div class="columns">

    {% include header.html %}

    <div class="blog">
      {% include default.html %}
    </div>

  </div>

  <script defer src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script defer src="/assets/js/mrchlblng.js"></script>
</body>
</html>
