<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ page.title | downcase }} | mrchlblng</title>
  <meta name="description" content="{{ page.description }}">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Lusitana:700|Pacifico|Ek+Mukta:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/css/mrchlblng.css">

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      jax: [ "input/TeX", "output/HTML-CSS" ],
      extensions: [ "tex2jax.js", "MathMenu.js", "MathZoom.js" ],
      tex2jax: {
        inlineMath: [ [ '$','$' ], [ '\\(','\\)' ] ],
        displayMath: [ [ '$$','$$' ], [ '\\[','\\]' ] ],
        skipTags: [ 'script', 'style', 'pre', 'code' ],
        processEscapes: true
      },
      TeX: { 
        equationNumbers: { autoNumber: "AMS" },
        TagSide: "left"
      },
      "HTML-CSS": { availableFonts: [ "TeX" ] }
    });
  </script>

  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42443686-2', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>
  <div class="columns">

    {% include header.html %}

    <div class="blog">
      {% include post.html %}

      {% include comments.html %}
    </div>

  </div>

  <script defer src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script defer src="/assets/js/mrchlblng.js"></script>

</body>
</html>

