<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ page.title | downcase }} | mrchlblng</title>
  <meta name="description" content="{{ page.description }}">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Cabin|Pacifico|Droid+Serif' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/css/mrchlblng.css">

  <script defer src="/assets/js/modernizr.js"></script>

  {% include analytics.html %}
</head>
<body>
  <div class="columns">

    {% include header.html %}

    <div class="blog">
      {% include post.html %}

      {% include comments.html %}
    </div>

  </div>

  <script defer src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  <script defer src="/assets/js/mrchlblng.js"></script>
</body>
</html>
