<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ page.title | downcase }} | mrchlblng</title>
  <meta name="description" content="{{ page.description }}">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Cutive|Pacifico|Libre+Baskerville:400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/css/mrchlblng.css">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42443686-2', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>
  <div class="columns">

    {% include header.html %}

    <div class="blog">
      {% include post.html %}

      {% include comments.html %}
    </div>

  </div>

  <script defer src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script defer src="//assets/js/mrchlblng.js"></script>
</body>
</html>
